<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">
  
    <head>
        {{ partial "global/meta.html" . }}
        {{ partial "global/styles.html" . }}
        {{ block "styles-local" . }}{{ end }}
    </head>
      
    <body id="body">        
        
        {{ partial "global/notification-message.html" . }}

        <div id="body__navigation">
        {{ partial "navigation/action-menu" . }}
        {{ partial "navigation/main-menu" . }}
        {{ partial "navigation/local-menu" . }}
        {{ partial "navigation/network-menu" . }}
        {{ partial "navigation/global-menu" .}}
        {{ partial "navigation/lazy-menu.html" . }}
        </div>

        <div id="body__content">

            <header id="header">
                <div class="header__global">
                    
                </div>
                {{ partial "global/alert-banner.html" . }}
                <div class="header__local">
                    {{ block "header-local" . }}{{ end }}
                </div>
            </header>

            <section>

                <main id="main">
                    {{ block "main-local" . }}
                    <div class="undergoing-construction">
                        <div>
                    <!-- TODO Make use of the bio you send Yasmin and the big text wall maybe? -->
                    <h1>Undergoing Construction
                    </h1>
                    <h3>Get Loving Updates</h3>
                    <p>Subscribe for your weekly letter like a penpal, but with tips on being creattive & productive, practical life lessons, and insights from the interwebs.</p>
                    <!-- <button>Join the Familia</button> -->
                    {{ partial "modal/modal-subscribe.html" . }}
                    
                    <!-- <button>The Socials</button> -->
                </div>
                </div>
                    {{ end }}
                </main>

            </section>

            <footer id="footer">
                <div class="footer__local">
                    {{ block "footer-local" . }}{{ end }}
                    {{ block "footer-next" . }}
                    <!-- <div class="footer__next-up">
                        <p>Up Next</p>
                        <h2>A Title and link Go Here</h2>
                    </div> -->
                    {{ end }}
                </div>
                <div class="global-footer">
                    {{ block "footer-global" . }}
                        
                    {{ end }}
                </div>
            </footer>
        </div>

        {{ partial "global/scripts.html" . }}
        {{ block "scripts-local" .}}{{ end }}

    </body>
</html>