<form
  id="convertkit-css-override"
  action="https://app.convertkit.com/forms/2043974/subscriptions"
  class="seva-form formkit-form"
  method="post"
  data-sv-form="2043974"
  data-uid="21010dce2b"
  data-format="inline"
  data-version="5"
  data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
  min-width="400 500 600 700 800"
>
  <div data-style="clean">
    <ul
      class="formkit-alert formkit-alert-error"
      data-element="errors"
      data-group="alert"
    ></ul>
    <div
      data-element="fields"
      data-stacked="true"
      class="seva-fields formkit-fields"
    >
      <div class="formkit-field">
        <label for="email_address"><small>Email *</small></label>
        <input
          id="email_address"
          class="formkit-input"
          name="email_address"
          aria-label="Email Address"
          placeholder="Email Address"
          required=""
          type="email"
        />
      </div>
      <div class="formkit-field">
        <label for="fields[first_name]"><small>Name *</small></label>
        <input
          id="fields[first_name]"
          class="formkit-input"
          aria-label="First Name"
          name="fields[first_name]"
          placeholder="First Name"
          type="text"
        />
      </div>

      <div class="formkit-field formkit-field-tags-check">
        <div role="button" tabindex="0">
          <fieldset
            data-group="checkboxes"
            class="formkit-5603"
            type="Custom"
            order="2"
            save_as="Tag"
            group="field"
          >
            <legend>Tags</legend>
            <div
              class="formkit-checkboxes"
              data-element="tags-checkboxes"
              data-group="checkbox"
            >
              <input
                checked
                class="formkit-checkbox"
                id="tag-26410914-2204200"
                type="checkbox"
                name="tags[]"
                value="2204200"
              /><label for="tag-26410914-2204200">home</label>
            </div>
          </fieldset>
        </div>
      </div>
      <!-- <div class="form-button-container"> -->
      <button
        data-element="submit"
        class="formkit-submit formkit-submit"
      >
        <div class="formkit-spinner">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span class="">Subscribe</span>
      </button>
      <p class="subscribe-note"><small><strong>Note:</strong> I will never sell, trade, or spam your email. I respect the inbox. 😤</small></p>
      <!-- <p class="subscribe-note"><small><strong>Note:</strong> Note: I will never sell, trade, spam or do anything dishonorable with your information. There’s also an <a href="/newsletter">archive of past newsletters</a> if you want to get a better sense of what to expect from week to week.</small></p> -->
    <!-- </div> -->
    </div>
  </div>


</form>
