<div class="brand-signature">
    <button id="networkMenuBttn" onclick="networkMenu()">
      <!-- <a class="" href="/"> -->
        <div class="brandmark__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.59 111.54"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M.78,97,15.13,23.4H5L9.52,0H52.89c31.67,0,50.7,15.6,50.7,46.33,0,39-30.58,65.21-67.24,65.21H10.92c-7.8,0-10.92-3.12-10.92-8.42A33.74,33.74,0,0,1,.78,97ZM34,88.14h3.12c20.12,0,37.44-15.29,37.44-39.78,0-17-8.27-25-24.8-25H43.06l-11.55,59a16.32,16.32,0,0,0-.46,3.28C31.05,87.21,31.83,88.14,34,88.14Z"/></g></g></svg>
  
        </div>
        <div class="brandmark__text">
          <span>Dwayne Cyrus</span>
        </div>
      <!-- </a> -->
    </button>
  </div>
  <div id="actions" class="actions">
    <button id="hiddenNavBttn" class="actions__menu-bttn" type="button" name="button">
      <section>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </section>
      <!-- Menu -->
    </button>
    <!-- <button id="desktopNavBttn" type="button" name="button">Desktop menu</button> -->
  </div>