<div id="secondary" class="local-menu">
  <section>
    <!-- <button id="localExpandChevron" class="secondary__expand-bttn-icon">
      Local Title
      <span class="chevron bottom"></span>
      <a href="https://google.com">Subscribe Me</a>
      </button> -->
    <!-- <div class="secondary__expand-bttn-title">
      <a class="local_top_bar_nav_title" href="https://google.com"
        >This a Local Bar!</a
      >
    </div> -->
    <button
      onclick="myFunction()"
      id="localExpandBttn"
      class="DEL---local_top_bar_nav_expand secondary__expand-bttn">
      <div>
      <span class="secondary__expand-bttn-title">Illustration</span><span class="chevron bottom"></span>
    </div>
    </button>

    <!-- NOTE the navigation MUST follow the trigger class to expand this menu on mobile FIX Make the local menu function without the need for a strict order of the CSS, the solution is in reqorking the JS. You want to be able to attach the trigger to the chevron icon instead of the bar. -->
    <nav class="secondary__menu-list">
      <ul class="nav_menu">
        <li><a href="#">Local menu item</a></li>
        <li><a href="#">Local menu item</a></li>
        <li><a href="#">Local menu item</a></li>
        <li><a href="#">Local menu item</a></li>
        <li><a href="#">Local menu item</a></li>
        <li><a href="#">Local menu item</a></li>
      </ul>
    </nav>
  </section>
</div>
