<!-- <div id="sticky" class="main-nav">
    <nav>
        <ul class="nav_menu">
            <li><a href="#">Main menu item</a></li>
            <li><a href="#">Main menu item</a></li>
            <li><a href="#">Main menu item</a></li>
            <li><a href="#">Main menu item</a></li>
            <li><a href="#">Main menu item</a></li>
        </ul>
    </nav>
</div> -->


<div class="network-menu">
    <button onclick="networkMenu()" class="">Close Menu</button>
    <ul>
        <li>Go Home</li>
        <li>
            <h4>Noble Deeds</h4>
            <p>Here's a bit of a description here ya know.</p>
        </li>
        <li>
            <h4>Liv Yuh Life</h4>
            <p>Here's a bit of a description here ya know.</p>
        </li>
        <li>
            <h4>Something else...</h4>
            <p>Here's a bit of a description here ya know.</p>
        </li>
    </ul>
</div>