<!-- Hide/Show Menu -->
{{ $jqueryJS := "scripts/global/jquery-3.6.0.min.js" | absURL }}
<script src="{{ $jqueryJS }}"></script>


<!-- Hide/Show Menu -->
{{ $hideShowMenuJS := "scripts/navigation/hide-show-menu.js" | absURL }}
<script src="{{ $hideShowMenuJS }}"></script>

<!-- Local Menu Expander -->
{{ $localMenu := "scripts/navigation/local-menu.js" | absURL }}
<script src="{{ $localMenu }}"></script>

<!-- Network Menu -->
{{ $networkMenu := "scripts/navigation/network-menu.js" | absURL }}
<script src="{{ $networkMenu }}"></script>

<!-- global Menu -->
{{ $globalMenu := "scripts/navigation/global-menu.js" | absURL }}
<script src="{{ $globalMenu }}"></script>