<!-- Hide Show Animations -->
{{ $hideShowMenu := "styles/navigation/hide-show-menu.css" | absURL }}
<link rel="stylesheet" href="{{ $hideShowMenu }}">

<!-- Action Menu -->
{{ $actionMenu := "styles/navigation/action-menu.css" | absURL }}
<link rel="stylesheet" href="{{ $actionMenu }}">

<!-- Main Menu -->
{{ $mainMenu := "styles/navigation/main-menu.css" | absURL }}
<link rel="stylesheet" href="{{ $mainMenu }}">

<!-- Local Menu -->
{{ $localMenu := "styles/navigation/local-menu.css" | absURL }}
<link rel="stylesheet" href="{{ $localMenu }}">

<!-- Network Menu -->
{{ $networkMenu := "styles/navigation/network-menu.css" | absURL }}
<link rel="stylesheet" href="{{ $networkMenu }}">

<!-- Global Menu -->
{{ $globalMenu := "styles/navigation/global-menu.css" | absURL }}
<link rel="stylesheet" href="{{ $globalMenu }}">